.rich-data--viewer .string-block {
  color: var(--viewer-base0B)
}

.rich-data--viewer .number-block {
  color: var(--viewer-base0F)
}

.rich-data--viewer .boolean-block {
  color: var(--viewer-base0E)
}

.rich-data--viewer .null-block {
  color: var(--viewer-base0A)
}

.rich-data--viewer .undefined-block {
  color: var(--viewer-base05)
}

.rich-data--viewer > .object-block, .array-block > .interactive {
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

.rich-data--viewer > .object-block, .object-block-expand {
  display: flex;
}

.rich-data--viewer > .object-block, .array-block > .array-block-header, .object-block-header {
  display: flex;
  align-items: center;
}

.rich-data--viewer > .object-block, .array-block > .array-block-body, .object-block-body {
  margin-left: 0.5rem;
  padding-left: 0.7rem;
  border-left: 1px solid var(--viewer-base02);
}

.rich-data--viewer ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
