.rich-data--viewer {
  --viewer-base00: #2b303b;
  --viewer-base01: #343d46;
  --viewer-base02: #4f5b66;
  --viewer-base03: #65737e;
  --viewer-base04: #a7adba;
  --viewer-base05: #c0c5ce;
  --viewer-base06: #dfe1e8;
  --viewer-base07: #eff1f5;
  --viewer-base08: #bf616a;
  --viewer-base09: #d08770;
  --viewer-base0A: #ebcb8b;
  --viewer-base0B: #a3be8c;
  --viewer-base0C: #96b5b4;
  --viewer-base0D: #8fa1b3;
  --viewer-base0E: #b48ead;
  --viewer-base0F: #ab7967;
  --viewer-font: 14px;
  --viewer-icon-size: 16px;

  --viewer-font-family: monospace;

  color: var(--viewer-base07);
  font-size: var(--viewer-font);
  font-family: var(--viewer-font-family);
  background-color: var(--viewer-base00);

  overflow: auto;
}

[data-theme='dark'] {
  --viewer-base00: #181818;
  --viewer-base01: #282828;
  --viewer-base02: #383838;
  --viewer-base03: #585858;
  --viewer-base04: #b8b8b8;
  --viewer-base05: #d8d8d8;
  --viewer-base06: #e8e8e8;
  --viewer-base07: #f8f8f8;
  --viewer-base08: #ab4642;
  --viewer-base09: #dc9656;
  --viewer-base0A: #f7ca88;
  --viewer-base0B: #a1b56c;
  --viewer-base0C: #86c1b9;
  --viewer-base0D: #7cafc2;
  --viewer-base0E: #ba8baf;
  --viewer-base0F: #a16946;
}

.rich-data--viewer .rich-data--viewer-tag {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 0.85rem;
  opacity: 0.8;
}

.rich-data--viewer-icon {
  height: var(--viewer-icon-size);
  width: var(--viewer-icon-size);
}
